<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Shopssy</title>
</head>

<body>
    {{>navbar data=details}}

    {{> slider slides=slides}}
    {{!-- {{> gallerys gallerys=gallerys}} --}}
    


    {{!-- {{BANNER}} --}}
    {{#each banners}}
    <section class="banner  py-4" id="background2">
        <div class="container text-light text-center" id="background2">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        {{this.title}}
                    </h1>

                    <p classs="ban ">{{this.description}}</p>
                    <button class="btn btn-outline-primary">{{link}}</button>
                </div>

            </div>
        </div>
    </section>
    {{/each}}
    {{!-- SERVICE SECTION --}}


    <section id="service_sec" class="py-3 ">
        <div class="container " id="section_bac">

            <h1 class="text-center text-dark">Services that we provide</h1>
            <div class="row mt-6">

                {{!-- First Service --}}
                {{#each services}}
                <div class=" col-md-4 ">

                    <div class="card">

                        <div class="card-body">
                            <div class="container text-center py-4">
                                <i class="{{this.icon}} service_icon"></i>
                            </div>
                            <h4 class="card-title ">{{this.title}}</h4>
                            <p class="overflow: auto">{{this.description}}</p>
                            <a href="{{this.link}}">{{this.linkText}}</a>
                            <a href="#!" class="ml-4">Support</a>

                        </div>
                    </div>
                </div>
                {{/each}}
                {{!-- Second service --}}
                {{!-- <div class="col-md-4">

                    <div class="card">
                        <div class="card-body">
                            <div class="container text-center py-4">
                                <i class="fa-brands fa-accusoft service_icon"></i>
                            </div>
                            <h4 class="card-title">Provide Best Course</h4>
                            <p>We provide best course that gurantee 100% of placment</p>
                            <a href="#!">Check</a>
                            <a href="#!" class="ml-4">Support</a>

                        </div>
                    </div>"
                </div> --}}
            </div>
        </div>


    </section>



    {{!-- BANNER 2 --}}
    {{#each banners1}}
    <section class="banner2 py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6  text-center  pt-5">
                    {{!-- Left --}}
                    <h2>{{this.title}}</h2>
                    <p>
                        {{this.description}}

                    </p>
                    <button class="btn btn-primary">{{this.link}}</button>

                </div>
                <div class="col-md-6 text-center py-1">
                    {{!-- {Right} --}}
                    <img src="{{this.imageurl}}" style="height: 300px; " />

                </div>
            </div>
        </div>
    </section>
    {{/each}}
    {{!-- BANNER SECTION3 --}}
    {{#each banner2}}
    <section class="banner3 py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center py-1">
                    {{!-- {Left} --}}
                    <img src="{{this.imageurl}}" style="height: 300px; " />

                </div>
                <div class="col-md-6  text-center  pt-5">
                    {{!-- Right --}}
                    <h2>{{this.title}}</h2>
                    <p>{{this.description}}

                    </p>
                    <button class="btn btn-primary">{{this.link}}</button>

                </div>

            </div>
        </div>
    </section>
    {{/each}}
    {{!-- CONTACT US SECTION --}}


    <section id="contact_us_section" class="py6 background1">
        <div class="container">
            <h1 class="text-center text-primary">Contact Us</h1>
            <div class="row">
                <div class="col-md-12">

                    <form action="/process-contact-form" method="post">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label text-primary">Email address</label>
                            <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text text-dark">We'll never share your email with anyone
                                else.</div>
                        </div>


                        <div class="mb-3">
                            <label for="contactNumber" class="form-label text-primary">Contact Number</label>
                            <input name="phone" type="number" class="form-control" id="contactNuber">
                        </div>


                        <div class="form-floating  my-3">
                            <textarea name="querry" style="height: 350px" ; class="form-control"
                                placeholder="Enter your querry here" id="queryField"></textarea>
                            <label for="queryField">Your Querry</label>
                        </div>



                        <div class="container text-center py-3">
                            <button type="submit" class="btn btn-primary ">Submit</button>
                        </div>




                    </form>




                </div>
            </div>
        </div>

    </section>
    {{!-- /?//About Section --}}
    {{#each abouts}}
    <section class="about_section" id="about_section">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2>{{this.title}}</h2>
                    <p>{{this.description}}</p>
                    <button class="btn btn-success  btn-lg text-center">
                        {{this.link}}
                    </button>
                </div>
            </div>
        </div>
    </section>
    {{/each}}
    {{!-- FOOTER SECTION --}}
    {{#each footers}}
    <footer class="footer background4 text-center py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{this.title}} <a class="text-reset fw-bold" href="{{this.linktext}}">{{this.link}}</a>
                </div>
            </div>
        </div>
    </footer>
    {{/each}}
    {{!-- {{details}} --}}

    <!-- Optional JavaScript; choose one of the two! -->


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>

</html>